* {
    margin: 0px;
}

.first, .second, .third {
    height: 200px;
}

.first {
    background-color: red;
    position: relative;
}

.second {
    background-color: green;
}

.third {
    background-color: cyan;
}